{%include 'admin_header.html'%}
<h1>Manage Category</h1>
<br>
<h2>Add Category</h2>
{%if data['upd']%}
<form method="post">
    <table>
        <tr>
            
            <th>category name</th>
            <td><input type="text" name="category_name" value="{{data['upd'][0]['category_name']}}"></td>
        </tr>
        <tr>
            <td><input type="submit" name="update" value="update"></td>
        </tr>
    </table>
    </form>
{%elif data['del']%}
<form method="post">
    <table>
        <tr>
            
            <th>category name</th>
            <td><input type="text" name="category_name" value="{{data['del'][0]['category_name']}}"></td>
        </tr>
        <tr>
            <td><input type="submit" name="delete" value="delete"></td>
        </tr>
    </table>
    </form>
{%else%}
<form method="post">
<table>
    <tr>
        
        <th>category name</th>
        <td><input type="text" name="category_name"></td>
    </tr>
    <tr>
        <td><input type="submit" name="submit" value="submit"></td>
    </tr>
</table>
</form>
{%endif%}
<br>
<br>

<table border="1">
    <tr>
        <th>Sl No</th>
        <th>category</th>
        <th>Update</th>
        <th>delete</th>
    </tr>
    {% for i in data['view']%}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{i['category_name']}}</td>
        <td><a href="?action=update&id={{i['category_id']}}">update</a></td>
        <td><a href="?action=delete&id={{i['category_id']}}">delete</a></td>
    </tr>
    {%endfor%}  
    <br> 
   
</table>



{%include 'footer.html'%}