{%include 'admin_header.html'%}
    <h1>Manage Posts</h1>
    <h2>View Posts</h2>
<table border="2">
    <tr>
        <th>Sl No</th>
        <th>User</th>
        <th>Title</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Date Time</th>
        <th>Status</th>
        <th>subcategory</th>
        <th>Remove</th>
    </tr>
    {% for i in data['view']%}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{i['first_name']}}</td>
        <td>{{i['post_title']}}</td>
        <td>{{i['description']}}</td>
        <td>{{i['amount']}}</td>
        <td>{{i['date_time']}}</td>
        <td>{{i['status']}}</td>
        <td>{{i['subcategory_name']}}</td>
        <td><a href="?action=remove&id={{i['post_id']}}">remove</a></td>
    </tr>
    {%endfor%}
</table>


{%include 'footer.html'%}