{%include 'public_header.html'%}
    <form method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" name="first_name"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" name="last_name"></td>
            </tr>
         
            <tr>
                <th>House Name
                </th>
                <td><input type="text" name="house_name"></td>
            </tr>

            <tr>
                <th>Place</th>
                <td><input type="text" name="place"></td>
            </tr>
            <tr>
                <th>Pincode</th>
                <td><input type="text" name="pincode"></td>
            </tr>
            
            <tr>
                <th>Phone Number</th>
                <td><input type="number" name="phone"></td>
            </tr>
        
         <!--   <tr>
                <th>username</th>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <th>password</th>
                <td><input type="password" name="password"></td>
            </tr>
        -->
        

        <tr>
            <th>email/username</th>
            <td><input type="email" name="email"></td>
        </tr>
        <tr>
            <th>Document</th>
            <td><input type="file" name="file"></td>
        </tr>

        <tr>
            <td><input type="submit" name="submit"></td>
        </tr>
        </table>
        
    </form>
</body>
</html>