{%include 'admin_header.html'%}
<h1>View Customers</h1>
<table border="2">
    <tr>
        <th>Sl No</th>
        <th>First name</th>
        <th>Last name</th>
        <th>House name</th>
        <th>Place</th>
        <th>Pincode</th>
        <th>Phone</th>
        <th>Email</th>
        <th>status</th>
        <th>Block User</th>
        <th>View File</th>
    </tr>
    {% for i in data['view']%}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{i['first_name']}}</td>
        <td>{{i['last_name']}}</td>
        <td>{{i['house_name']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['pincode']}}</td>
        <td>{{i['phone']}}</td>
        <td>{{i['email']}}</td>
        <td>{{i['usertype']}}</td>

        <td><a href="?action=delete&id={{i['user_id']}}">delete</a></td>
        <td><a href="admin_view_files?id={{i['user_id']}}">file</a></td>
    </tr>
    {%endfor%}
</table>

